In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('PAD_dataset/metadata.csv')
df.head()

,patient_id,lesion_id,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,...,diameter_2,diagnostic,itch,grew,hurt,changed,bleed,elevation,img_id,biopsed
0,PAT_1516,1765,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,...,NaN,NEV,False,False,False,False,False,False,PAT_1516_1765_530.png,False
1,PAT_46,881,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,...,5.0,BCC,True,True,False,True,True,True,PAT_46_881_939.png,True
2,PAT_1545,1867,NaN,NaN,NaN,NaN,77,NaN,NaN,NaN,...,NaN,ACK,True,False,False,False,False,False,PAT_1545_1867_547.png,False
3,PAT_1989,4061,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,...,NaN,ACK,True,False,False,False,False,False,PAT_1989_4061_934.png,False
4,PAT_684,1302,False,True,POMERANIA,POMERANIA,79,False,MALE,True,...,5.0,BCC,True,True,False,False,True,True,PAT_684_1302_588.png,True

In [3]:
df.shape

(2298, 26)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2298 entries, 0 to 2297
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   patient_id           2298 non-null   object
 1   lesion_id            2298 non-null   int64
 2   smoke                1494 non-null   object
 3   drink                1494 non-null   object
 4   background_father    1480 non-null   object
 5   background_mother    1476 non-null   object
 6   age                  2298 non-null   int64
 7   pesticide            1494 non-null   object
 8   gender               1494 non-null   object
 9   skin_cancer_history  1494 non-null   object
 10  cancer_history       1494 non-null   object
 11  has_piped_water      1494 non-null   object
 12  has_sewage_system    1494 non-null   object
 13  fitspatrick          1494 non-null   float64
 14  region               2298 non-null   object
 15  diameter_1           1494 non-null   float64
 16  diameter_2           1494 non-null   float64
 17  diagnostic           2298 non-null   object
 18  itch                 2298 non-null   object
 19  grew                 2298 non-null   object
 20  hurt                 2298 non-null   object
 21  changed              2298 non-null   object
 22  bleed                2298 non-null   object
 23  elevation            2298 non-null   object
 24  img_id               2298 non-null   object
 25  biopsed              2298 non-null   bool
dtypes: bool(1), float64(3), int64(2), object(20)
memory usage: 451.2+ KB

In [5]:
l=['smoke', 'drink', 'background_father',
       'background_mother', 'age', 'pesticide', 'gender',
       'skin_cancer_history', 'cancer_history','has_piped_water','has_sewage_system','diagnostic']

In [6]:
df=df[l]

In [7]:
df

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,has_sewage_system,diagnostic
0,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NEV
1,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,True,BCC
2,NaN,NaN,NaN,NaN,77,NaN,NaN,NaN,NaN,NaN,NaN,ACK
3,NaN,NaN,NaN,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN,ACK
4,False,True,POMERANIA,POMERANIA,79,False,MALE,True,False,False,False,BCC
...,...,...,...,...,...,...,...,...,...,...,...,...
2293,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,ACK
2294,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,True,BCC
2295,NaN,NaN,NaN,NaN,74,NaN,NaN,NaN,NaN,NaN,NaN,SEK
2296,False,False,POMERANIA,POMERANIA,58,True,FEMALE,True,True,False,False,BCC
2297,NaN,NaN,NaN,NaN,41,NaN,NaN,NaN,NaN,NaN,NaN,SEK

In [8]:
df = df.dropna(how='any')

In [9]:
df['Melanoma']=df['diagnostic'].apply(lambda x:'False' if x!='MEL' else 'True')

<ipython-input-9-6982c4d516e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Melanoma']=df['diagnostic'].apply(lambda x:'False' if x!='MEL' else 'True')

In [10]:
df=df.drop('diagnostic',axis=1)

In [11]:
df = df.drop_duplicates()

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.shape

(848, 12)

In [14]:
df.head()

,smoke,drink,background_father,background_mother,age,pesticide,gender,skin_cancer_history,cancer_history,has_piped_water,has_sewage_system,Melanoma
0,False,False,POMERANIA,POMERANIA,55,False,FEMALE,True,True,True,True,False
1,False,True,POMERANIA,POMERANIA,79,False,MALE,True,False,False,False,False
2,False,True,GERMANY,ITALY,52,False,FEMALE,False,True,True,True,False
3,False,False,POMERANIA,POMERANIA,74,True,FEMALE,False,False,False,False,False
4,False,True,GERMANY,GERMANY,58,True,FEMALE,True,True,True,True,False

In [15]:
df.to_csv('processed_data_pad.csv',index=False)

In [16]:
df['Melanoma'].value_counts()

False    812
True      36
Name: Melanoma, dtype: int64